a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:visited { 
    text-decoration: none; 
    color: black; 
   }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }




#homebutton{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(14px, 1.4vw, 25px);
    color: black;
    text-align: center;
    left: 3%;
    margin-bottom: 2%;
    top: 1%;

}




/* TABLE STUFF */


body {
    font-family: 'Poppins', sans-serif; 
font-size: 10;     }
  h1 {
    text-align: center;
  }
  form {
    width: 70%;
    margin: 20px auto;
  }
  .styled-table {
border-collapse: collapse;
font-size: 0.9em;
font-family: sans-serif;
min-width: 400px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
width: 70%;
margin: 20px auto;

}

table th:first-child{
border-radius:1 0 0 0;
}

table th:last-child{
border-radius:0 1 0 0;
}
.styled-table thead tr {
/* background-image: linear-gradient(90deg, #ef32d9, #89fffd);*/
background-image: linear-gradient(45deg, rgba(102, 255, 255,1) 11%, rgba(102,204,255,1) 91.1% );

color: #ffffff;
text-align: left;

}
.styled-table th,
.styled-table td {
padding: 12px 15px;
}
.styled-table tbody tr {
border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
border-bottom: medium solid #0ED2F7;

}
.styled-table tbody tr.active-row {
font-weight: bold;
color: black;
border-radius:6px;

}


  label,
  input {
    display: block;
    margin: 10px 0;

  }
  button {
    display: block;
  }

  .center{
    text-align: center;
  }


.button {
background-color: rgba(255, 255, 255, 0.8);;
border: none;
border-radius: 5px;
color: black;
padding: 8px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
}
.button:hover {
background-color: white; /* Green */
}


.deleteBtn {
background-color: #0ED2F7;
border: none;
border-radius: 5px;
color: white;
padding: 8px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
}
.deleteBtn:hover {
background-color: #B2FEFA; /* Green */
}

.container{
        height:300px;
        width: 100%;
    }

    #display{
        width: 100%;
        font-size:72px;
        text-align: center;
        margin: 0px auto;

    }

    .buttons{
        text-align: center;
    }

    .add{
        width: 100%;
        font-size: 32px;
        text-align: center;
        margin: 0px auto;
    }

    #new{
        font-size: 10;
    }


    #github{
      text-align: center;
    }


/* CHARTS */

    #resize{
      margin: 25px;
        height: 300%;
        width: 90%;
        display: flex;
        justify-content: center;

        
        padding: 4%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        border-radius: 20px;

    }

    

  .seemore {
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  
  .seemore::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color:#000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; 
  }
  .seemore:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .spacer{
    height: 100px;
  }